.header {
  text-align: center;
  padding-top: 3em;
  &-img {
    display: inline-block;
    background: #ccebe3;
    border-radius: 50%;
    width: 7em;
    height: 7em;

    img {
      position: relative;
      top: 18%;
      width: 90%;
    }
  }

  &-title {
    margin-top: 1.5em;
    font-size: 1.7rem;
  }
  &-subtitle {
    font-size: 1.2rem;
    color: #8a8a8a;
  }
}