.header {
  background: linear-gradient(#52a2f2, transparent),
              linear-gradient(-45deg, #7a4df5, transparent),
              linear-gradient(45deg, #5191f4, transparent);
  background-blend-mode: screen;
  padding: 2em;
}